<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style>
      body::-webkit-scrollbar {
        width: 5px !important;
        height: 5px !important;
      }
      body::-webkit-scrollbar-track {
        background: gray !important;
      }
      body::-webkit-scrollbar-thumb {
        background-color: #cfc9c5 !important;
        border: 1px solid gray !important;
        border-radius: 1px !important;
      }
      button {
        cursor: pointer;
      }
    </style>
  </head>
  <body class="flex">
    <div id="app" class="flex flex-col w-full h-full">
      <div v-if="tableRow.length" v-for="tData in tableRow" class="flex flex-row flex-wrap">
        <div class="text-gray-400 font-semibold">{{tData.label}}</div>
        <span
          v-if="tData.directoryEntries"
          class="bg-gray-100 border border-gray-400 w-full flex flex-col"
        >
          <button class="px-2 text-lefta" @click="fetchExecExplorer(tData.value)"> {{tData.value}} 

        </span>
          <ui-dropdown>
            <button v-for="item in tData.directoryEntries" @click="fetchExecExplorer(item.path)">
              {{item.path.split('/').reverse()[0]}}
            </button>
          </ui-dropdown>
        </span>
        <span class="px-2" v-else> {{tData.value}} </span>
      </div>
    </div>

    <script>
      const { createApp, ref, onMounted } = Vue;

      const dropdownComponent = {
        setup() {
          const message = Vue.ref('Привет из компонента!');
          return { message };
        },
        template: `
        <div>
          <p>dt</p>
          <slot>
          </slot>
        </div>
        `
      };
      createApp({
        setup() {
          const message = ref("Hello Vue!");
          const tableRow = ref([]);

          function fetchExecExplorer(path) {
            fetch("/exec/explorer", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ path: path }),
            });
          }
          function fetchEnrichmentRow(data) {
            console.log(JSON.stringify(data));
            return fetch("/EnrichmentRow", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });
          }
          onMounted(() => {
            window.addEventListener("message", (event) => {
              if (event.origin.includes("googleusercontent.com")) {
                tableRow.value = JSON.parse(event.data);
                fetchEnrichmentRow(tableRow.value).then((response) => {
                  if (response.ok) {
                    response.json().then((data) => {
                      tableRow.value = data;
                    });
                  }
                });
              }
            });
          });

          return {
            fetchExecExplorer,
            message,
            tableRow,
          };
        },
      })
      .component('ui-dropdown', dropdownComponent)
      .mount("#app");
    </script>
  </body>
</html>
